

.loding{
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #b5ca66;
  font-size: 2rem;
  color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 999;
}
.loding.active{
  top: 0
}

.box{
  padding: 0 32px;
}

.haed{
  color: #fff;
}
.documentary{
  margin-top: 3.25rem;
}

.movies-contant{
  display: flex;
  justify-content: start;
  width: 100%;
  margin: 0 auto;
  .movies{
    box-shadow: 0  0 10px 3px #343434;
    margin-right: 1rem;
    padding: 0 1rem;
    padding-top: 2rem;
    margin-bottom: 100px;
  }
}


