
.movie{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title{
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
    width: auto;
    display: block;
    padding: 1rem;
    
  }
}